NODE_ENV=development
PORT=8080

# Database
DATABASE_URL="postgresql://postgres:123456@localhost:5432/ecommerce?schema=public"

# Redis
REDIS_URL="redis://localhost:6379"

# JWT Secrets (CHANGE THESE IN PRODUCTION!)
JWT_ACCESS_SECRET=your-super-secret-jwt-key-change-this-in-production
JWT_REFRESH_SECRET=your-super-secret-refresh-key-change-this-in-production
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=7d

# CORS
# CORS / Deployment
FRONTEND_URL=http://localhost:3000

# Email Configuration (Gmail)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=duc011002@gmail.com
SMTP_PASSWORD="ytqi hyny fzny hodz"
SMTP_FROM="Poyken Shop <duc011002@gmail.com>"

# Cloudinary
CLOUDINARY_CLOUD_NAME=ddpbahxp6
CLOUDINARY_API_KEY=463557752242447
CLOUDINARY_API_SECRET=HhNkzENWTFX2mLkFwHCcMvfHJNA

# VNPAY Sandbox
VNPAY_TMN_CODE=WAKECUJW
VNPAY_HASH_SECRET=U7CYR16964OIRNEG4OGAZHKWAZJF28R7
VNPAY_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNPAY_RETURN_URL=http://localhost:8080/api/v1/payment/vnpay_return

# GHN Sandbox
GHN_TOKEN=d08b1d27-e19c-11f0-a3d6-dac90fb956b5
GHN_SHOP_ID=2510825
GHN_API_BASE_URL=https://dev-online-gateway.ghn.vn/shiip/public-api/

# Webhook
WEBHOOK_URL=http://localhost:8088/api/v1/shipping/webhook
